<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <environment include="Development">
    </environment>
    <environment exclude="Development">
    </environment>
    @Html.Partial("_GeneratedViews/fallback-styles.cshtml")
</head>
<body>
    <header class="header" data-component="header"></header>

    <section class="content">
        @RenderBody()
    </section>

    <footer class="footer" data-component="footer"></footer>

    <environment include="Development">
    </environment>
    <environment exclude="Development">
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
