@page
@model IndexModel
@{
    ViewData["Title"] = "webpack promote modern browsers";
}

<section class="content">
    Funny business!
</section>

@section scripts {
    @Html.Partial("_GeneratedViews/modern.cshtml")
    @Html.Partial("_GeneratedViews/fallback.cshtml")
}
