<script>
  if (!__modernScript__) {
    console && console.log('...falling back to transpiled script :-(');
    var __fallbackScript__ = document.createElement('script');
    __fallbackScript__.type = 'text/javascript';
    __fallbackScript__.src = '##URL##';
    document.getElementsByTagName('head')[0].appendChild(__fallbackScript__);
  }
</script>
